---
const { label, id, name, options = [] } = Astro.props;

interface Option {
  value: string;
  label: string;
}

interface Props {
  label: string;
  name: string;
  id: string;
  options?: Option[];
}
---

<div>
  <label for={id} class="sr-only">{label}</label>
  <select
    name={name}
    id={id}
    class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 focus:border-neutral-200 focus:outline-hidden focus:ring-3 focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:focus:ring-1 appearance-none"
    style={{
      backgroundImage: `url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%236b7280'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E")`,
      backgroundRepeat: "no-repeat",
      backgroundPosition: "right 0.75rem center",
      backgroundSize: "1rem",
    }}
  >
    <option value="" disabled selected>{label}</option>
    {
      options.map((option) => (
        <option value={option.value}>{option.label}</option>
      ))
    }
  </select>
</div>
